<a href="https://colab.research.google.com/github/andreMarquesWeds/starter-workflows/blob/master/Panda_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Pandas

In [1]:
import pandas as pd

In [2]:
#!dir *.ipynb - dos
!ls -la

total 164
drwxr-xr-x 1 root root   4096 Jun 16 14:59 .
drwxr-xr-x 1 root root   4096 Jun 16 14:59 ..
drwxr-xr-x 4 root root   4096 Jun 13 13:27 .config
-rw-r--r-- 1 root root 148243 Jun 16 14:59 Credit.csv
drwxr-xr-x 1 root root   4096 Jun 13 13:28 sample_data

In [ ]:
from google.colab import files

carregado = files.upload()

In [4]:
#carrega arquivo para dataframe Pandas
dados = pd.read_csv("Credit.csv")

#formato
dados.shape

(1000, 21)

In [5]:
# primeiros registros
dados.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad

In [6]:
# resumo estatístico de colunas numéricas
dados.describe()

,duration,credit_amount,installment_commitment,residence_since,age,existing_credits,num_dependents
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,20.903000,3271.258000,2.973000,2.845000,35.546000,1.407000,1.155000
std,12.058814,2822.736876,1.118715,1.103718,11.375469,0.577654,0.362086
min,4.000000,250.000000,1.000000,1.000000,19.000000,1.000000,1.000000
25%,12.000000,1365.500000,2.000000,2.000000,27.000000,1.000000,1.000000
50%,18.000000,2319.500000,3.000000,3.000000,33.000000,1.000000,1.000000
75%,24.000000,3972.250000,4.000000,4.000000,42.000000,2.000000,1.000000
max,72.000000,18424.000000,4.000000,4.000000,75.000000,4.000000,2.000000

In [7]:
# últimos registros, com parâmetros
dados.tail(2)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
998,<0,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,0<=X<200,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',none,...,car,27,none,own,1,skilled,1,none,yes,good

In [8]:
# filtras por nome da coluna
dados[["duration","purpose"]]

     duration              purpose
0           6             radio/tv
1          48             radio/tv
2          12            education
3          42  furniture/equipment
4          24            'new car'
..        ...                  ...
995        12  furniture/equipment
996        30           'used car'
997        12             radio/tv
998        45             radio/tv
999        45           'used car'

[1000 rows x 2 columns]

In [9]:
# filtrar linhas por indice
dados.loc[1:3]

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good

In [ ]:
#linhas 1 e 3
dados.loc[[1,3]]

Filtros

In [11]:
# filtro
dados.loc[dados['purpose'] == "radio/tv"]

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
8,'no checking',12,'existing paid',radio/tv,3059,>=1000,4<=X<7,2,'male div/sep',none,...,'real estate',61,none,own,1,'unskilled resident',1,none,yes,good
12,0<=X<200,12,'existing paid',radio/tv,1567,<100,1<=X<4,1,'female div/dep/mar',none,...,car,22,none,own,1,skilled,1,yes,yes,good
15,<0,24,'existing paid',radio/tv,1282,100<=X<500,1<=X<4,4,'female div/dep/mar',none,...,car,32,none,own,1,'unskilled resident',1,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,0<=X<200,24,'critical/other existing credit',radio/tv,1743,<100,>=7,4,'male single',none,...,'life insurance',48,none,own,2,'unskilled resident',1,none,yes,good
991,'no checking',15,'all paid',radio/tv,1569,100<=X<500,>=7,4,'male single',none,...,car,34,bank,own,1,'unskilled resident',2,none,yes,good
992,<0,18,'existing paid',radio/tv,1936,'no known savings',4<=X<7,2,'male mar/wid',none,...,car,23,none,rent,2,'unskilled resident',1,none,yes,good
997,'no checking',12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad

In [12]:
# Filtrar as linhas onde a coluna 'cidade' contém qualquer padrão que comece com 'r'
dados.loc[dados['purpose'].str.contains('^r', case=False, na=False)]

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
8,'no checking',12,'existing paid',radio/tv,3059,>=1000,4<=X<7,2,'male div/sep',none,...,'real estate',61,none,own,1,'unskilled resident',1,none,yes,good
12,0<=X<200,12,'existing paid',radio/tv,1567,<100,1<=X<4,1,'female div/dep/mar',none,...,car,22,none,own,1,skilled,1,yes,yes,good
15,<0,24,'existing paid',radio/tv,1282,100<=X<500,1<=X<4,4,'female div/dep/mar',none,...,car,32,none,own,1,'unskilled resident',1,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,0<=X<200,24,'critical/other existing credit',radio/tv,1743,<100,>=7,4,'male single',none,...,'life insurance',48,none,own,2,'unskilled resident',1,none,yes,good
991,'no checking',15,'all paid',radio/tv,1569,100<=X<500,>=7,4,'male single',none,...,car,34,bank,own,1,'unskilled resident',2,none,yes,good
992,<0,18,'existing paid',radio/tv,1936,'no known savings',4<=X<7,2,'male mar/wid',none,...,car,23,none,rent,2,'unskilled resident',1,none,yes,good
997,'no checking',12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad

In [13]:
# outra condição
dados.loc[dados['credit_amount'] >  18000]

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
915,0<=X<200,48,'no credits/all paid',other,18424,<100,1<=X<4,1,'female div/dep/mar',none,...,'life insurance',32,bank,own,1,'high qualif/self emp/mgmt',1,yes,no,bad

In [14]:
# outra condição AND
dados.loc[(dados['credit_amount'] >  15000) & (dados['duration'] >=60)]

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
637,'no checking',60,'delayed previously',radio/tv,15653,<100,4<=X<7,2,'male single',none,...,car,21,none,own,2,skilled,1,yes,yes,good

In [15]:
# outra condição OR
dados.loc[(dados['credit_amount'] >  15000) | (dados['purpose'] == 'other')]

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
72,<0,8,'critical/other existing credit',other,1164,<100,>=7,3,'male single',none,...,'no known property',51,bank,'for free',2,'high qualif/self emp/mgmt',2,yes,yes,good
83,<0,24,'existing paid',other,1755,<100,>=7,4,'female div/dep/mar',guarantor,...,'real estate',58,none,own,1,'unskilled resident',1,yes,yes,good
95,0<=X<200,54,'no credits/all paid',business,15945,<100,<1,3,'male single',none,...,'no known property',58,none,rent,1,skilled,1,yes,yes,bad
105,0<=X<200,24,'critical/other existing credit',other,11938,<100,1<=X<4,2,'male single','co applicant',...,car,39,none,own,2,'high qualif/self emp/mgmt',2,yes,yes,bad
287,0<=X<200,48,'delayed previously',other,7582,100<=X<500,unemployed,2,'male single',none,...,'no known property',31,none,'for free',1,'high qualif/self emp/mgmt',1,yes,yes,good
310,0<=X<200,48,'existing paid',other,5381,'no known savings',unemployed,3,'male single',none,...,'no known property',40,bank,'for free',1,'unemp/unskilled non res',1,yes,yes,good
374,0<=X<200,60,'all paid',other,14782,100<=X<500,>=7,3,'female div/dep/mar',none,...,'no known property',60,bank,'for free',2,'high qualif/self emp/mgmt',1,yes,yes,bad
431,0<=X<200,24,'existing paid',other,11328,<100,1<=X<4,2,'male single','co applicant',...,car,29,bank,own,2,'high qualif/self emp/mgmt',1,yes,yes,bad
442,0<=X<200,20,'delayed previously',other,2629,<100,1<=X<4,2,'male single',none,...,car,29,bank,own,2,skilled,1,yes,yes,good
594,<0,24,'all paid',other,1358,'no known savings',>=7,4,'male single',none,...,car,40,stores,own,1,'high qualif/self emp/mgmt',1,yes,yes,bad
637,'no checking',60,'delayed previously',radio/tv,15653,<100,4<=X<7,2,'male single',none,...,car,21,none,own,2,skilled,1,yes,yes,good
665,'no checking',24,'critical/other existing credit',other,6314,<100,unemployed,4,'male single','co applicant',...,'no known property',27,bank,own,2,'high qualif/self emp/mgmt',1,yes,yes,good
818,<0,36,'existing paid',other,15857,<100,unemployed,2,'male div/sep','co applicant',...,car,43,none,own,1,'high qualif/self emp/mgmt',1,none,yes,good
887,0<=X<200,48,'existing paid',business,15672,<100,1<=X<4,2,'male single',none,...,car,23,none,own,1,skilled,1,yes,yes,bad
915,0<=X<200,48,'no credits/all paid',other,18424,<100,1<=X<4,1,'female div/dep/mar',none,...,'life insurance',32,bank,own,1,'high qualif/self emp/mgmt',1,yes,no,bad

In [16]:
# atribuimos resultado a variável, criando outro df
credito2 = dados.loc[dados['credit_amount'] >  18000]
print(credito2)

    checking_status  duration         credit_history purpose  credit_amount  \
915        0<=X<200        48  'no credits/all paid'   other          18424

    savings_status employment  installment_commitment       personal_status  \
915           <100     1<=X<4                       1  'female div/dep/mar'

    other_parties  ...  property_magnitude age  other_payment_plans housing  \
915          none  ...    'life insurance'  32                 bank     own

    existing_credits                          job num_dependents  \
915                1  'high qualif/self emp/mgmt'              1

     own_telephone foreign_worker class
915            yes             no   bad

[1 rows x 21 columns]

In [17]:
# definimos só algumas colunas
credito3 = dados[['checking_status','duration']].loc[dados['credit_amount'] >  18000]
print(credito3)

    checking_status  duration
915        0<=X<200        48

In [18]:
# séries, única coluna
# pode ser criada a partir de listas, array do numpy ou coluna de data frame
s1 = pd.Series([2, 5, 3, 34, 54, 23, 1, 16])
print(s1)
print(type(s1))

0     2
1     5
2     3
3    34
4    54
5    23
6     1
7    16
dtype: int64
<class 'pandas.core.series.Series'>

In [19]:
# serie a partir de um array do numpy
import numpy as np
array1 = np.array([2, 5, 3, 34, 54, 23, 1, 16])
s2 = pd.Series(array1)
print(s2)
print(type(s2))

0     2
1     5
2     3
3    34
4    54
5    23
6     1
7    16
dtype: int64
<class 'pandas.core.series.Series'>

In [20]:
# series a partir de um dataframe
s3 = dados['purpose']
print(s3)
type(s3)
print(type(s3))

0                 radio/tv
1                 radio/tv
2                education
3      furniture/equipment
4                'new car'
              ...
995    furniture/equipment
996             'used car'
997               radio/tv
998               radio/tv
999             'used car'
Name: purpose, Length: 1000, dtype: object
<class 'pandas.core.series.Series'>

In [21]:
# note a diferença, temos um data frame
d4= dados[['purpose']]
print(d4)
type(d4)

                 purpose
0               radio/tv
1               radio/tv
2              education
3    furniture/equipment
4              'new car'
..                   ...
995  furniture/equipment
996           'used car'
997             radio/tv
998             radio/tv
999           'used car'

[1000 rows x 1 columns]

pandas.core.frame.DataFrame

In [22]:
dados

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,'no checking',12,'existing paid',furniture/equipment,1736,<100,4<=X<7,3,'female div/dep/mar',none,...,'real estate',31,none,own,1,'unskilled resident',1,none,yes,good
996,<0,30,'existing paid','used car',3857,<100,1<=X<4,4,'male div/sep',none,...,'life insurance',40,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
997,'no checking',12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,0<=X<200,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',none,...,car,27,none,own,1,skilled,1,none,yes,good

Renomear

In [23]:
# renomear
dados.rename(columns={"duration":"duração","purpose":"propósito"})

,checking_status,duração,credit_history,propósito,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,0<=X<200,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,...,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,'no checking',12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,...,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,<0,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,...,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,<0,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,...,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,'no checking',12,'existing paid',furniture/equipment,1736,<100,4<=X<7,3,'female div/dep/mar',none,...,'real estate',31,none,own,1,'unskilled resident',1,none,yes,good
996,<0,30,'existing paid','used car',3857,<100,1<=X<4,4,'male div/sep',none,...,'life insurance',40,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
997,'no checking',12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,...,car,38,none,own,1,skilled,1,none,yes,good
998,<0,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,...,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,0<=X<200,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',none,...,car,27,none,own,1,skilled,1,none,yes,good

In [24]:
# porém a alteração não é persistida
dados.head(1)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good

In [26]:
# para persistir
dados.rename(columns={"duration":"duração", "purpose":"propósito"}, inplace=True)

In [27]:
dados.head(1)

,checking_status,duração,credit_history,propósito,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,...,'real estate',67,none,own,2,skilled,1,yes,yes,good

In [28]:
# excluir coluna
dados.drop('checking_status', axis=1, inplace=True) # axis=1 para coluna // tb pode usar assim: df.drop(columns=['B', 'C'])

print(dados)

     duração                    credit_history            propósito  \
0          6  'critical/other existing credit'             radio/tv
1         48                   'existing paid'             radio/tv
2         12  'critical/other existing credit'            education
3         42                   'existing paid'  furniture/equipment
4         24              'delayed previously'            'new car'
..       ...                               ...                  ...
995       12                   'existing paid'  furniture/equipment
996       30                   'existing paid'           'used car'
997       12                   'existing paid'             radio/tv
998       45                   'existing paid'             radio/tv
999       45  'critical/other existing credit'           'used car'

     credit_amount      savings_status  employment  installment_commitment  \
0             1169  'no known savings'         >=7                       4
1             5951                <100      1<=X<4                       2
2             2096                <100      4<=X<7                       2
3             7882                <100      4<=X<7                       2
4             4870                <100      1<=X<4                       3
..             ...                 ...         ...                     ...
995           1736                <100      4<=X<7                       3
996           3857                <100      1<=X<4                       4
997            804                <100         >=7                       4
998           1845                <100      1<=X<4                       4
999           4576          100<=X<500  unemployed                       3

          personal_status other_parties  residence_since   property_magnitude  \
0           'male single'          none                4        'real estate'
1    'female div/dep/mar'          none                2        'real estate'
2           'male single'          none                3        'real estate'
3           'male single'     guarantor                4     'life insurance'
4           'male single'          none                4  'no known property'
..                    ...           ...              ...                  ...
995  'female div/dep/mar'          none                4        'real estate'
996        'male div/sep'          none                4     'life insurance'
997         'male single'          none                4                  car
998         'male single'          none                4  'no known property'
999         'male single'          none                4                  car

     age other_payment_plans     housing  existing_credits  \
0     67                none         own                 2
1     22                none         own                 1
2     49                none         own                 1
3     45                none  'for free'                 1
4     53                none  'for free'                 2
..   ...                 ...         ...               ...
995   31                none         own                 1
996   40                none         own                 1
997   38                none         own                 1
998   23                none  'for free'                 1
999   27                none         own                 1

                             job  num_dependents own_telephone foreign_worker  \
0                        skilled               1           yes            yes
1                        skilled               1          none            yes
2           'unskilled resident'               2          none            yes
3                        skilled               2          none            yes
4                        skilled               2          none            yes
..                           ...             ...           ...            ...
995         'unskilled resident'               1          none            yes
996  'high qualif/self emp/mgmt'               1           yes            yes
997                      skilled               1          none            yes
998                      skilled               1           yes            yes
999                      skilled               1          none            yes

    class
0    good
1     bad
2    good
3    good
4     bad
..    ...
995  good
996  good
997  good
998   bad
999  good

[1000 rows x 20 columns]

In [29]:
dados.head(1)

,duração,credit_history,propósito,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,4,'real estate',67,none,own,2,skilled,1,yes,yes,good

In [30]:
# verificar dados nulos
dados.isnull()

,duração,credit_history,propósito,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [31]:
# verificar dados nulos
dados.isnull().sum()

duração                   0
credit_history            0
propósito                 0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [32]:
dados.shape

(1000, 20)

In [33]:
# retirar colunas com NaN
# Tomar cuidado, pois irá apagar linhas que tiverem NaN
dados.dropna()

,duração,credit_history,propósito,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,4,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,2,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,3,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,4,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,4,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,'existing paid',furniture/equipment,1736,<100,4<=X<7,3,'female div/dep/mar',none,4,'real estate',31,none,own,1,'unskilled resident',1,none,yes,good
996,30,'existing paid','used car',3857,<100,1<=X<4,4,'male div/sep',none,4,'life insurance',40,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
997,12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,4,car,38,none,own,1,skilled,1,none,yes,good
998,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,4,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',none,4,car,27,none,own,1,skilled,1,none,yes,good

In [34]:
dados.shape

(1000, 20)

In [35]:
# preencher dados faltantes
dados['duração'].fillna(0, inplace = True)

In [36]:
dados

,duração,credit_history,propósito,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,residence_since,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,6,'critical/other existing credit',radio/tv,1169,'no known savings',>=7,4,'male single',none,4,'real estate',67,none,own,2,skilled,1,yes,yes,good
1,48,'existing paid',radio/tv,5951,<100,1<=X<4,2,'female div/dep/mar',none,2,'real estate',22,none,own,1,skilled,1,none,yes,bad
2,12,'critical/other existing credit',education,2096,<100,4<=X<7,2,'male single',none,3,'real estate',49,none,own,1,'unskilled resident',2,none,yes,good
3,42,'existing paid',furniture/equipment,7882,<100,4<=X<7,2,'male single',guarantor,4,'life insurance',45,none,'for free',1,skilled,2,none,yes,good
4,24,'delayed previously','new car',4870,<100,1<=X<4,3,'male single',none,4,'no known property',53,none,'for free',2,skilled,2,none,yes,bad
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,12,'existing paid',furniture/equipment,1736,<100,4<=X<7,3,'female div/dep/mar',none,4,'real estate',31,none,own,1,'unskilled resident',1,none,yes,good
996,30,'existing paid','used car',3857,<100,1<=X<4,4,'male div/sep',none,4,'life insurance',40,none,own,1,'high qualif/self emp/mgmt',1,yes,yes,good
997,12,'existing paid',radio/tv,804,<100,>=7,4,'male single',none,4,car,38,none,own,1,skilled,1,none,yes,good
998,45,'existing paid',radio/tv,1845,<100,1<=X<4,4,'male single',none,4,'no known property',23,none,'for free',1,skilled,1,yes,yes,bad
999,45,'critical/other existing credit','used car',4576,100<=X<500,unemployed,3,'male single',none,4,car,27,none,own,1,skilled,1,none,yes,good

### loc vs iloc
##
### https://stackoverflow.com/questions/28757389/pandas-loc-vs-iloc
##
### loc usado para nomes e iloc para posição

In [37]:
dados.iloc[0:3,0:5]

,duração,credit_history,propósito,credit_amount,savings_status
0,6,'critical/other existing credit',radio/tv,1169,'no known savings'
1,48,'existing paid',radio/tv,5951,<100
2,12,'critical/other existing credit',education,2096,<100

In [38]:
dados.iloc[[0, 1, 2, 3, 7], 0:5]

,duração,credit_history,propósito,credit_amount,savings_status
0,6,'critical/other existing credit',radio/tv,1169,'no known savings'
1,48,'existing paid',radio/tv,5951,<100
2,12,'critical/other existing credit',education,2096,<100
3,42,'existing paid',furniture/equipment,7882,<100
7,36,'existing paid','used car',6948,<100

In [39]:
# Exemplo de dados
dados = pd.DataFrame({'coluna_existente': [1, 2, 3, 4, 5]})
print(dados)

   coluna_existente
0                 1
1                 2
2                 3
3                 4
4                 5

In [40]:
# Aplicando o filtro
filtro = dados['coluna_existente'] > 3
filtro

0    False
1    False
2    False
3     True
4     True
Name: coluna_existente, dtype: bool

In [41]:
# Criando uma nova coluna com base no filtro
dados.loc[filtro, 'nova_coluna'] = 'maior que 3'

In [42]:
dados

   coluna_existente  nova_coluna
0                 1          NaN
1                 2          NaN
2                 3          NaN
3                 4  maior que 3
4                 5  maior que 3

In [43]:
# Preenchendo os valores que não atendem ao filtro com outro valor
dados['nova_coluna'].fillna('menor ou igual a 3', inplace=True)

In [44]:
print(dados)

   coluna_existente         nova_coluna
0                 1  menor ou igual a 3
1                 2  menor ou igual a 3
2                 3  menor ou igual a 3
3                 4         maior que 3
4                 5         maior que 3

### Agrupamento

In [45]:
# Exemplo de dados
dados = pd.DataFrame({'grupo': ['A', 'A', 'B', 'B', 'A'],
                      'valor': [1, 2, 3, 4, 5],
                      'quant': [10, 20, 30, 40, 50]})

# Agrupando os dados por 'grupo' e calculando a média dos valores para cada grupo
media_por_grupo = dados.groupby('grupo')['quant'].mean()

print(media_por_grupo)

grupo
A    26.666667
B    35.000000
Name: quant, dtype: float64

### Apply

In [46]:
# Exemplo de dados
dados = pd.DataFrame({'valores': [1, 2, 3, 4, 5]})

# Função para calcular o quadrado de um número
def calcular_quadrado(x):
    return x ** 2

# Aplicando a função 'calcular_quadrado' à coluna 'valores' usando apply
dados['quadrado'] = dados['valores'].apply(calcular_quadrado)

print(dados)

   valores  quadrado
0        1         1
1        2         4
2        3         9
3        4        16
4        5        25

### Merge

In [47]:
# DataFrame com informações sobre os alunos
alunos = pd.DataFrame({
    'student_id': [1, 2, 3, 4],
    'nome': ['João', 'Maria', 'Pedro', 'Ana']
})

# DataFrame com informações sobre as disciplinas
disciplinas = pd.DataFrame({
    'student_id': [1, 2, 2, 3, 4],
    'disciplina': ['Matemática', 'Física', 'Química', 'História', 'Geografia']
})

# Combinando os DataFrames usando merge
resultado = pd.merge(alunos, disciplinas, on='student_id')

print(resultado)

   student_id   nome  disciplina
0           1   João  Matemática
1           2  Maria      Física
2           2  Maria     Química
3           3  Pedro    História
4           4    Ana   Geografia

In [48]:
# Left join

# DataFrame de exemplo para alunos
alunos = pd.DataFrame({
    'student_id': [1, 2, 3, 4],
    'nome': ['João', 'Maria', 'Pedro', 'Ana']
})

# DataFrame de exemplo para notas
notas = pd.DataFrame({
    'student_id': [1, 2, 3],
    'nota': [8, 7, 9]
})

# Left join entre alunos e notas
left_join = pd.merge(alunos, notas, on='student_id', how='left')

print("Left join:")
print(left_join)

# Right join entre alunos e notas
right_join = pd.merge(alunos, notas, on='student_id', how='right')

print("\nRight join:")
print(right_join)

Left join:
   student_id   nome  nota
0           1   João   8.0
1           2  Maria   7.0
2           3  Pedro   9.0
3           4    Ana   NaN

Right join:
   student_id   nome  nota
0           1   João     8
1           2  Maria     7
2           3  Pedro     9

### Query

In [49]:
# Exemplo de dados
dados = pd.DataFrame({
    'idade': [25, 35, 45, 30, 40],
    'salário': [40000, 60000, 70000, 45000, 55000]
})

# Usando query para selecionar as linhas onde a idade é maior que 30 e o salário é maior que 50000
resultado = dados.query('idade > 30 and salário > 50000')

print(resultado)

   idade  salário
1     35    60000
2     45    70000
4     40    55000